<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ventors/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    {{>Header}}
    <h1 class="p-5 bg-info ">Your Country is : {{country}}</h1>
    <p class="text-center p-3">{{res}}</p>

    <script src="ventors/bootstrap.bundle.min.js"></script>
    
</body>
</html>