<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ventors/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Header</title>
</head>

<body>
    {{!-- Start Header --}}
    <nav class="navbar navbar-expand-lg bg-body-secondary ">
        <div class="container">
            <a class="navbar-brand" href="#">Weather</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/data">Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/weather">Weather</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {{!-- End Header --}}

    <script src="ventors/bootstrap.bundle.min.js"></script>
</body>

</html>